<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:orientation="horizontal">
  <!--<ImageView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_gravity="center"
        android:src="@drawable/logo" />-->
  <LinearLayout
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:orientation="vertical"
      android:layout_margin="10dp">
    <TextView
        android:id="@+id/InfoWindowTitle"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="InfoWindowTitle"
        android:textColor="@android:color/black"
        android:textStyle="bold" />
    <TextView
        android:id="@+id/InfoWindowSubtitle"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="InfoWindowSubtitle"
        android:textColor="@android:color/black" />
    
  </LinearLayout>
  <!--<ImageButton
      android:id="@+id/InfoWindowButton"
      android:layout_height="match_parent"
      android:layout_width="match_parent"
      android:src="@drawable/info" />-->
  
  
</LinearLayout>